.root {
  overflow: hidden;
  border: 1px solid #fff;
  width: 100%;
  aspect-ratio: 10 / 13;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: #444;
  text-decoration: none;
}
.root:hover .image {
  transform: scale(1.3);
}
.root:hover .descriptionContainer {
  height: 33%;
  transition: all 0.4s;
  padding: 0 10px 5px 10px;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  z-index: -1;
}
.title {
  padding: 10px;
  background-color: #fff;
  margin-top: auto;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}
.description {
  overflow: hidden;
  height: 100%;
  font-size: 19px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.descriptionContainer {
  transition: all 0.4s;
  background-color: #fff;
  padding: 0 10px;
  height: 0;
  overflow: hidden;
}