/** Global start **/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}
html,
body,
#root {
  /* height: 100%; */
  min-height: 100%;
}
#root {
  margin-top: 130px;
  /* height: calc(100vh - 130px); */
  /* position: relative; */
  /* overflow-x: hidden; */
}
body {
  background-color: #1f1f1f;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  flex: 1;
  padding: 20px 10px;
}
.wrapper {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
}
/** Global end **/

/** Scrollbar start **/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/** Scrollbar end **/

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}
h1 {
  color: #fff;
}

/** Movie page start **/
.movie__videos {
  margin-top: 100px;
}
.movie__videos_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.movie__videos_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
.movie__video {
  border: 1px solid #fff;
  border-radius: 5px;
  aspect-ratio: 16/9;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  object-fit: cover;
}
/** Movie page end **/
/** Media query start **/
@media (max-width: 849.98px) {
}
@media (max-width: 767.98px) {
  .movie__details_box {
    flex-direction: column;
  }
}
@media (max-width: 549.98px) {
  #root {
    margin-top: 90px;
  }
  .movies-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
/** Media query end **/
